hackathon_telefones.json
{
  "name": "Hackathon - Inscrições e Envio de Mensagens (Data Tables)",
  "nodes": [
    {
      "parameters": {
        "path": "hackathon-inscricao",
        "method": "POST"
      },
      "id": "1",
      "name": "Webhook Inscrição",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "record",
        "operation": "create",
        "tableId": "hackathon_inscricoes",
        "fieldsUi": {
          "fields": [
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $json.telefone }}"
            }
          ]
        }
      },
      "id": "2",
      "name": "Salvar Telefone (Data Table)",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [550, 300]
    },
    {
      "parameters": {
        "path": "hackathon-send",
        "method": "POST"
      },
      "id": "3",
      "name": "Webhook Enviar Mensagem",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 600]
    },
    {
      "parameters": {
        "resource": "record",
        "operation": "getAll",
        "tableId": "hackathon_inscricoes"
      },
      "id": "4",
      "name": "Buscar Telefones (Data Table)",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [550, 600]
    },
    {
      "parameters": {
        "functionCode": "const mensagem = $items(\"Webhook Enviar Mensagem\")[0].json.body.mensagem;\n\nreturn items.map(item => ({\n  json: {\n    telefone: item.json.telefone,\n    mensagem\n  }\n}));"
      },
      "id": "6",
      "name": "Montar Mensagens",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [750, 600]
    },
    {
      "parameters": {
        "url": "https://meu-webhook-de-envio.com",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={\"telefone\": $json.telefone, \"mensagem\": $json.mensagem}"
      },
      "id": "5",
      "name": "Enviar Mensagem WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1000, 600]
    }
  ],
  "connections": {
    "Webhook Inscrição": {
      "main": [
        [
          {
            "node": "Salvar Telefone (Data Table)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Enviar Mensagem": {
      "main": [
        [
          {
            "node": "Buscar Telefones (Data Table)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Telefones (Data Table)": {
      "main": [
        [
          {
            "node": "Montar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Mensagens": {
      "main": [
        [
          {
            "node": "Enviar Mensagem WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
